.search-input {
	min-width: 250px;
}

.password-name {
	width: 200px;
}

.password-folder-name {
	color: #0683F5;
	font-size: 13px;
	width: 50px;
}

.password-result {
	padding: 1px 10px 1px 0px;
}

.button {
	padding: 5px 16px;
	width: 0;
	border: none;
	background-color: transparent;
}

.password-result:hover .button {
	border: 1px solid black;
	width: 15px;
	padding: 4px 7px;
}

.password-result:hover .button:hover,
.password-result .button:focus {
	background-color: #0683F5;
}